@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "general/fonts.css";
@import "general/basics.css";
@import "general/button.css";
@import "general/form.css";
@import "general/icons.css";
@import "site/layout.css";
@import "site/header.css";
@import "site/cover.css";
@import "blog/feed.css";
@import "blog/featured.css";
@import "blog/pagination.css";
@import "blog/single.css";
@import "blog/author.css";
@import "blog/share.css";
@import "blog/navigation.css";
@import "blog/related.css";
@import "blog/taxonomy.css";
@import "misc/tiny-slider.css";
@import "misc/utils.css";
@import "misc/portal.css";
@import "misc/animations.css";


/* Custom Font */
@font-face {
    font-family: 'Krungthep';
    src: url('/assets/fonts/Krungthep.woff2') format('woff2'),
         url('/assets/fonts/Krungthep.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* CUSTOM CSS */

/* RESIZE GALLERIES SMALLER */
.kg-gallery-card {
    grid-column: main !important
}
.kg-gallery-container {
  padding: 1.0em
}
.kg-gallery-image img {
  padding: 0.5em
}
/* Reduce spacing between headed sections */
.gh-content {
  --content-spacing-multiplier: 0.5;
}
/* Recolor the current page */
.nav-brad-wenner-digital a {
    color: var(--accent-color) !important;
    font-family: 'Krungthep', sans-serif !important;
}
.nav-brad-wenner-digital {
    color: var(--accent-color) !important;
    font-family: 'Krungthep', sans-serif !important;
}
